html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* just to be sure these are full screen*/
canvas {
  display: block;
}
/* To remove the scrollbars */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  background-color: rgba(40, 40, 40, 0.8);
  padding: 0px;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  outline: 0px;
}
h1:hover {
  color: #ffffc8;
}
h1:active {
  color: #ffff96;
}
div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.controlGroup {
  bottom: 0px;
  position: absolute;
}
.actionButton {
  width: 120px;
  background-color: rgba(40, 40, 40, 0.8);
  color: #ffffff;
  border: 0;
}
@include text();
@include unselectable();
.actionButton:hover {
  background-color: rgba(66, 66, 66, 0.8);
  color: #ffffc8;
}
.actionButton:active {
  background-color: rgba(91, 91, 91, 0.8);
  color: #ffff96;
}
.actionButton.down {
  color: #ffffff;
  background-color: rgba(244, 244, 244, 0.8);
}
.ruleButton {
  width: 120px;
  background-color: rgba(40, 40, 40, 0.8);
  color: #ffffff;
  border: 0;
  width: 20px;
}
@include text();
@include unselectable();
.ruleButton:hover {
  background-color: rgba(66, 66, 66, 0.8);
  color: #ffffc8;
}
.ruleButton:active {
  background-color: rgba(91, 91, 91, 0.8);
  color: #ffff96;
}
.ruleButton.down {
  color: #ffffff;
  background-color: rgba(244, 244, 244, 0.8);
}
.helpBox {
  position: absolute;
  visibility: hidden;
  background-color: rgba(40, 40, 40, 0.8);
  color: #ffffff;
  border: 0;
}
@include text();
@include unselectable();
.tableHeader {
  color: #ffffff;
  background-color: rgba(40, 40, 40, 0.8);
}
#ruleTable {
  background: rgba(255, 255, 255, 0.7);
}
@include text();
@include unselectable();
#shareButtons {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
}
.minButton {
  color: #ffffff;
}
@extends actionButton;
